
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
/* Basic */
*, *:before, *:after {
    box-sizing: inherit;
}
    body.is-preload *, body.is-preload *:before, body.is-preload *:after {
        -moz-animation: none !important;
        -webkit-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }
input, textarea, select {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}
    h1 a strong, h2 a strong, h3 a strong, h4 a strong, h5 a strong, h6 a strong {
        color: #333;
    }
    h2.alt {
        color: #888;
    }
        h2.alt strong {
            color: #666;
        }
    header > p {
        margin: 1em 0 0 0;
    }
strong, b {
    font-weight: 300;
    color: #666;
}
em, i {
    font-style: italic;
}
a {
    text-decoration: none;
    color: inherit;
    border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
    -moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    outline: 0;
}
    a:hover {
        color: #E27689;
        border-bottom-color: rgba(255, 255, 255, 0);
    }
sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}
sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}
hr {
    border: 0;
    border-top: solid 1px #ddd;
}
blockquote {
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}
p, ul, ol, dl, table {
    margin-bottom: 2em;
}
br.clear {
    clear: both;
}
/* Sections/Article */
    section > :last-child,
    section > .container, section:last-child, article > :last-child,
    article > .container, article:last-child {
        margin-bottom: 0;
    }
    .row > section, .row > article {
        margin: 8px;
        padding: 0;
        border: 1px solid #ddd;
    }
/* Image */
	.image {
		display: inline-block;
		border: 0;
	}
		.image img {
			display: block;
			width: 100%;
            height: 200px;
		}
		.image.avatar48 {
			width: 48px;
			height: 48px;
			/* background: #f00; */
		}
			.image.avatar48 img {
				width: 48px;
				height: 48px;
			}
		.image.fit {
			display: block;
			width: 100%;
		}
		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}
		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}
		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}
			.image.centered img {
				margin: 0 auto;
				width: auto;
			}
/* List */
	ul {
		list-style: disc;
		padding-left: 1em;
	}
		ul li {
			padding-left: 0.5em;
		}
	ol {
		list-style: decimal;
		padding-left: 1.25em;
	}
		ol li {
			padding-left: 0.25em;
		}
/* Icons */
	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}
		ul.icons li {
			display: inline-block;
			padding-left: 0;
		}
		ul.icons a {
			display: inline-block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			border: 0;
		}
/* Form */
form label {
    display: block;
    text-align: left;
    margin-bottom: 0.5em;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
    position: relative;
    -webkit-appearance: none;
    display: block;
    border: 0;
    outline: 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    border-radius: 0.35em;
    padding: 0.75em 1em 0.75em 1em;
    box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.15);
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form input[type="password"]:focus,
    form select:focus,
    form textarea:focus {
        box-shadow: 0 0 2px 1px #8ebebc;
        background: #fff;
    }
form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
    line-height: 1.25em;
}
form textarea {
    min-height: 14em;
}
form ::-webkit-input-placeholder {
    color: #555 !important;
}
form :-moz-placeholder {
    color: #555 !important;
}
form ::-moz-placeholder {
    color: #555 !important;
}
form :-ms-input-placeholder {
    color: #555 !important;
}
form ::-moz-focus-inner {
    border: 0;
}
/* Table */
table {
    width: 100%;
    text-align: left;
}
    table tbody tr:nth-child(2n+2) {
        background: #f4f4f4;
    }
    table td {
        padding: 0.5em 1em 0.5em 1em;
    }
    table th {
        text-align: left;
        padding: 0.5em 1em 0.5em 1em;
        color: #fff;
        background: #222729 url("images/overlay.png");
    }
    table thead {
        background: #444;
        color: #fff;
    }
    table tfoot {
        background: #eee;
    }
/* Item */
	.item {
		box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
		margin-bottom: 40px;
	}
		.item header {
			background: #fff;
			margin: 0;
			padding: 1em 0 1em 0;
			font-size: 0.8em;
		}
			.item header h3 {
				font-size: 1em;
			}
/* Icons */
	.icon {
		text-decoration: none;
	}
		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		.icon > .label {
			display: none;
		}
		/* Wide */
        @media screen and (min-width: 961px) and (max-width: 1880px) {
            /* Basic */
                body, input, textarea, select {
                    font-size: 17pt;
                }
            /* Header */
                #header {
                    width: 230px;
                }
            /* Footer */
            #footer{
                margin-left: 225px;
            }
            /* Main */
                #main {
                    margin-left: 227px;
                }
        }
   